<div class="col-sm-5 col-md-4">
  <ul class="nav nav-pills nav-stacked">
    <li><a href class="btn btn-primary" ng-click="PGT.show = 'bash'" ng-class="{active: PGT.show == 'bash'}">Bash</a></li>
    <li><a href class="btn btn-primary" ng-click="PGT.show = 'exclude'" ng-class="{active: PGT.show == 'exclude'}">File Exclude</a></li>
    <li><a href class="btn btn-primary" ng-click="PGT.show = 'ignore'" ng-class="{active: PGT.show == 'ignore'}">File Ignore</a></li>
  </ul>
</div>

<div class="col-sm-7 col-md-8" ng-show="PGT.show == 'bash'">
  <bash bush-id="'git'" show-input="true" prefix="'git'" show-notification="false" path="PGT.projct.path"></bash>
</div>

<div class="col-sm-7 col-md-8" ng-show="PGT.show == 'exclude'">
  <textarea cols="30" rows="10" ng-model="PGT.exclude"></textarea>
  <button class="btn btn-primary" ng-click="PGT.saveExclude()">Сохранить</button>
</div>

<div class="col-sm-7 col-md-8" ng-show="PGT.show == 'ignore'">
  <textarea cols="30" rows="10" ng-model="PGT.ignore"></textarea>
  <button class="btn btn-primary" ng-click="PGT.saveIgnore()">Сохранить</button>
</div>
